---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Epreuve E4 | Andy SOK" description="En savoir plus sur Epreuve E4 de Andy SOK">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Epreuve E4"
				tagline="Découvez mon parcours et mes compétences."
			>

			</Hero>

			<section>
				<h2 class="section-title">L’Épreuve E4</h2>
				<div class="content">
					L’épreuve E4 vise à évaluer la capacité des étudiants à appliquer leurs connaissances et compétences acquises pendant leur formation en BTS SIO dans un contexte professionnel. C’est un élément essentiel de l’évaluation de leur aptitude à travailler dans le domaine de l’informatique au sein des organisations et à résoudre des problèmes concrets. Elle compte pour une part importante de la note finale du BTS SIO.


				</div>
			</section>

			<section>
                <h2 class="section-title">Fichier PDF</h2>
                <embed src="/assets/E4.pdf" width="1000" height="1500" type="application/pdf">
            </section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
