---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Veille Technologique | Andy SOK" description="Veille technologique  Andy SOK">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille Technologique"
				tagline="BTS SIO, veille technologique, suivi des dernières tendances et innovations pour rester à jour dans le domaine informatique."
			>
				<img
					width="1553"
					height="873"
					src="/assets/stock-3.jpg"
					alt=""
				/>
			</Hero>
<title>Thème: Sécurité informatique sur les applications mobile.</title>
			<section>
				
				<h2 class="section-title">C'est quoi ? </h2>
				<div class="content">
					La veille technologique consiste à rester constamment informé des dernières avancées et tendances dans un domaine spécifique. En intégrant cette pratique dans mon portfolio, je démontre ma capacité à rester à jour sur les innovations, à anticiper les changements et à adapter mes connaissances et compétences en conséquence.
<br>


				</div>
			</section>
			<section>
				<h2 class="section-title">Thème</h2>
				<div class="content">
					Sécurité informatique sur les applications mobile.

				</div>
			</section>
			<section>
				<h2 class="section-title">Pourquoi ? </h2>
				<div class="content">
					J'ai opté pour ce thème de veille technologique en raison de mon fort intérêt pour la cybersécurité, un domaine de l'informatique vers lequel je souhaite orienter ma carrière. De plus, l'évolution constante des applications mobiles a également piqué ma curiosité.
				</div>
			</section>
			

			<section>
				<h2 class="section-title"></h2>
				
				<!-- Premier Article -->
				<div class="article">
					<h4>Google: une faille découverte dans l'application d'authentification à deux facteurs</h3>
					<br>
					<p>27 avril 2023</p>
					<br>
					<p>Un article de BFMTV révèle une faille de sécurité récemment découverte dans l'application d'authentification à deux facteurs de Google. Cette faille soulève des inquiétudes quant à la sécurité des comptes Google et des données des utilisateurs. Pour plus de détails, consultez l'article complet sur <a href="https://www.bfmtv.com/tech/cybersecurite/google-une-faille-decouverte-dans-l-app-d-authentification-a-deux-facteurs_AN-202304270693.html">BFMTV</a>.</p>
					<p>Source BFMTV</p>
				</div>
				<br>
				<h2 class="section-title"></h2>
				<!-- Deuxième Article -->
				<div class="article">
					<h4>Sécuriser votre application mobile : à quel moment devez-vous l’envisager ?</h3>
					<br>
					<p>12 janvier 2023</p>
					<br>
					<p>Un article souligne l'importance de sécuriser les applications mobiles dès leur création pour éviter des coûts élevés en cas de failles de sécurité. Il met également en avant l'impact positif sur la confiance des utilisateurs, la réputation et la protection de la propriété intellectuelle. En somme, il encourage à considérer la sécurité comme une priorité dès le début du développement d'applications mobiles. Pour plus de détails, consultez l'article complet sur <a href="https://thetribe.io/quand-securiser-votre-application-mobile/">TheTribe</a>.</p>
					<p>Source TheTribe</p>
				</div>
				<br>
				<h2 class="section-title"></h2>
				<!-- Troisième Article -->
				<div class="article">
					<h4>MobSF - Analyser la sécurité d'une application mobile</h3>
					<br>
					<p>4 juin 2024</p>
					<br>
					<p>La vidéo présente MobSF, un outil open-source pour évaluer la sécurité des applications mobiles Android. Elle explique comment installer, configurer et utiliser MobSF pour détecter les vulnérabilités et les problèmes de sécurité dans les applications. MobSF offre des analyses statiques et dynamiques, génère des rapports de sécurité, et fournit des recommandations pour améliorer la sécurité des applications. Cet outil est essentiel pour les développeurs et les experts en sécurité mobile. Pour plus de détails, consultez la vidéo sur <a href="https://www.youtube.com/watch?v=2RRBJK0s_dg">YouTube</a>.</p>
					<p>Source Preuve De Concept</p>
				</div>
		
			</section>

		</main>
		

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
