---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="school-logo" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Étudiant en BTS SIO</h2>
		<p>Spécialisé en développement informatique.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Développeur Web</h2>
		<p>Passionné par la programmation web et le développement d'applications.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="projector-screen-chart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Projets Informatiques</h2>
		<p>Réalisation de projets informatiques dans le cadre de mon BTS SIO.</p>
	</div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
